.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



/* techlearnerTL. (2024). CSS Circle Animation Effects | HTML | CSS. Available at: https://www.youtube.com/shorts/17ZlMLQ9YcQ (Accessed 10 March 2025). */
#loading {
  height: 400px;
  width: 400px;
  border-radius: 100%;
  border: 25px;
  border-style: solid;
  border-color: white;
  border-top-width: 20px;
  border-top-style: solid;
  border-top-color: green;
  animation: circle 2.5s linear infinite;
  margin: auto auto auto auto;
}

@keyframes circle {
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}