body {
    margin: 0;
    padding: 0;
    background-color: #E1ECD8;
}

#shopTitleDiv {
    align-items: center;
    margin: 0 auto 30px auto;
    margin-bottom: 50px;
    margin-top: 10px;
}


#shopTitle {
    text-align: center;
    text-decoration: underline;
}

#shopItems {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto 60px auto;
    flex-wrap: wrap;
}

#productDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    border-style: solid;
    border-color: rgb(10, 244, 53);
    border-width: 5px;
    align-items: center;
    margin: 5px;
    border-radius: 10px;
}


.groupedDiv {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}


.productLabel {
    margin-right: 10px;
    text-align: right;
    width: 200px;
}

#productDiv .productInput {
    padding: 5px;
    margin: 5px;
    margin-right: 10%;
    width: 95%;

}

#productImage {
    height: 200px;
    width: 200px;
}

#quantity {
    display: flex;
    flex-direction: row;
    width: 95%;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px auto;
}

#quantityRequired {
    text-align: center;
    font-weight: bold;
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;

}

.addOrSubtract {
    width: 80px;
    height: 50px;
    color: black;
    background-color: green;
    font-size: larger;
    font-weight: bolder;
}