body {
    margin: 0;
    padding: 0;
    background-color: #E1ECD8;
}

#homeTitleDiv {
    align-items: center;
    margin: 0 auto 0px auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

#home {
    text-align: center;
    text-decoration: underline;
}

#overviewTitle {
    text-align: center;
    text-decoration: underline;
    float: left;
}

.overviewBox {
    display: flex;
    flex-direction: row;
    background-color: #94EF7E;
    width: 99.199%;
    margin: 0 auto 60px auto;
    border-color: black;
    border-style: solid;
    border-width: 5px;
}

#overviewInformationBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 2.8;
}


.receiptsDetails {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    flex-direction: column;
}

.receiptsDetailsInputLabels {
    margin-right: 20px;
    text-align: right;
    width: 200px;
    font-weight: bold;
}


#overviewInformationBox .receiptsDetailsInputs {
    padding: 5px;
    margin: 5px;
    width: 100%;
}

.receiptsSideInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0.8;
}

.receiptsSideInformationLabels {
    text-align: center;
    font-weight: bold;
}

.receiptsSideInformation button {
    cursor: pointer;
    background: none;
    border: none;
}

.receiptsSideInformation button:hover {
    background-color: yellow;
}

.xIcon {
    font-size: 80px;
}