body {
    margin: 0;
    padding: 0;
    background-color: #E1ECD8;
}

#homeTitleDiv {
    align-items: center;
    margin: 0 auto 0px auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

#home {
    text-align: center;
    text-decoration: underline;
}

#overviewTitle {
    text-align: center;
    text-decoration: underline;
}

.overviewBox {
    display: flex;
    flex-direction: row;
    background-color: #94EF7E;
    width: 99.199%;
    margin: 0 auto 0.4px auto;
    border-color: black;
    border-style: solid;
    border-width: 5px;
}

#overviewInformationBox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: 2.8;
}

.overviewDetails {
    display: flex;
    align-items: center;
    width: 50%;
    margin-bottom: 30px;
    flex-direction: column;
}

#overviewTitleDiv {
    margin: 0 auto auto 0.5%;
}

.overviewParagraphs {
    font-size: medium;
    font-family: sans-serif;
    line-height: 230%;
}

#overviewParagraphsDiv {
    margin: 5% auto auto 10%;
}

.sideImages {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}


.Responses {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.Questions {
    display: flex;
    align-items: center;
    width: 50%;
    margin-bottom: 30px;
    flex-direction: column;
}


.xIcon {
    height: 200px;
    width: 300px;
    margin-top: 1%;
    margin-bottom: 1%;
}