* {
    margin: 0;
    padding: 0;
}

#navbar {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    list-style: none;
    background-color: lightgreen;
    position: relative;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    background-color: lightgreen;
}

#listOfLinks {
    display: flex;
}

.links {
    padding-left: 40px;
    color: black;
    font-weight: bold;
    font-size: large;
    align-items: center;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background-color: lightgreen;
}

.dropdownMenue {
    width: max-content;
    background-color: lightgreen;
    position: absolute;
    z-index: 1;
    display: none;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    margin: 0;
}

.dropdownMenue li {
    display: block;
    padding: 10px;
    text-align: center;
}

.dropdownDiv {
    position: relative;
    display: inline-block;
}

.dropdownDiv:hover .dropdownMenue {
    display: block;
}