body {
    margin: 0;
    padding: 0;
    background-color: #E1ECD8;
}

#TitleDiv {
    align-items: center;
    margin: 0 auto 30px auto;
    margin-bottom: 50px;
    margin-top: 10px;
}

#Title {
    text-align: center;
    text-decoration: underline;
}


#details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* used chatgpt to assist with flex, and alligning items chatgpt 15/01/2025
prompt 1 "right now the labels are on top of the input, the input is the div with input and label, label is inputLabels, how can I put the inputLabel to the left of input" 
prompt 2 "I want the inputs to all be one below the other evenly macthed no one lefter than the other
"*/
.inputDiv {
    display: flex;
    align-items: center;
    width: 50%;
    margin-bottom: 20px;
}

.inputLabels {
    margin-right: 20px;
    text-align: right;
    width: 200px;
}

#details .signUpInputs {
    padding: 5px;
    margin: 5px;
    width: 100%;
}

#signupButton {
    background-color: black;
    color: white;
    width: 150px;
    height: 40px;
    font-size: large;
    margin-top: 30px;
    cursor: pointer;
}

#loginValidation {
    color: red;
}